:root {
  --mxc-c00: $C00;
  --mxc-c01: $C01;
  --mxc-c02: $C02;
  --mxc-c03: $C03;
  --mxc-c04: $C04;
  --mxc-c05: $C05;
  --mxc-c06: $C06;
  --mxc-c07: $C07;
  --mxc-c08: $C08;
  --mxc-c09: $C09;
  --mxc-c10: $C10;
  --mxc-c11: $C11;
  --mxc-c12: $C12;
  --mxc-c13: $C13;
  --mxc-c14: $C14;
  --mxc-c15: $C15;

  --mxc-sbg: $SBG;
  --mxc-sfg: $SFG;
  --mxc-wbg: $WBG;
  --mxc-wfg: $WFG;
  --mxc-ebg: $EBG;
  --mxc-efg: $EFG;
  --mxc-xbg: $XBG;
  --mxc-xfg: $XFG;
  --mxc-obg: $OBG;
  --mxc-ofg: $OFG;

  --mxc-dk0: $DK0;
  --mxc-dk1: $DK1;
  --mxc-dk2: $DK2;
  --mxc-dk3: $DK3;
  --mxc-dk4: $DK4;
  --mxc-dk5: $DK5;
  --mxc-dk6: $DK6;
  --mxc-dk7: $DK7;
  --mxc-dk8: $DK8;
  --mxc-dk9: $DK9;

  --mxc-dl0: $DL0;
  --mxc-dl1: $DL1;
  --mxc-dl2: $DL2;
  --mxc-dl3: $DL3;
  --mxc-dl4: $DL4;
  --mxc-dl5: $DL5;
  --mxc-dl6: $DL6;
  --mxc-dl7: $DL7;
  --mxc-dl8: $DL8;
  --mxc-dl9: $DL9;
}
